.Header{
    background: rgb(0, 0, 0);
    height:40px;
    
}

.Header .container{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  white

}

.Header .logoType{
    align-items: center;
    display: flex;
    color: white;


}